*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    width: 1200px;
    margin: 0 auto;

}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin-top: 20px;

}

.square {
    background-color: #3498db;
    border: 1px solid #d9e8f3;
    transition: transform 0.2s;
}

.square:hover {
    
    transform: scale(1.05);
}